#container {
    display: flex;
}

.bet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100px;
    height: 100px;
    margin-left: 1em;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

.bet > span {
    display: block;
}